#navbarMonstera {
  display: flex;
  margin: 30px 0px 0px 30px;
}
#navMid {
  display: flex;
  margin-left: 100px;
  position: relative;
  bottom: 40px;
  font-size: 20px;
}
#navEnd {
  display: flex;
  margin-left: 200px;
}

div h4 {
  margin: 50px;
}

#navEnd img {
  margin: 12px;
}

#monstera {
  font-size: 120px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#imgMain {
  position: relative;
  bottom: 1100px;
  left: 860px;
}
.text {
  font-size: 50px;
}
